#board {
  background-color: #8ED1E0;
  width: 960px;
  height: 540px;
  margin: 100px auto;
  position: relative;
  color: white;
  font-weight: bold;
}

.background-text {
  text-align: center;
  line-height: 540px;
}

.square {
  background-color: #0091C5;
  width: 100px;
  height: 100px;
  position: absolute;
  line-height: 100px;
  text-align: center;
  margin: 0px;
}
