#board {
  position: relative;
  width: 960px;
  height: 540px;
  margin: 100px auto;
  background-color: #8ed1e0;
  color: white;
  font-weight: bold;
}

.background-text {
  line-height: 540px;
  text-align: center;
}

.square {
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 0;
  background-color: #0091c5;
  line-height: 100px;
  text-align: center;
  cursor: move;
}
